; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "/home/pops/riemann-0.2.5/riemann.log"})

; Listen over TCP (5555), UDP (5555), and websockets
; (5556)
; NOTE this is the aws private IP ("10.239.35.22"). It had issues with the public one.
(let [host "10.239.35.22"]
  (tcp-server {:host host})
  (udp-server {:host host}))

(def graph (graphite {:host "10.239.35.22"}))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)

      histogramify #(adjust [:service str " value"]
                            (percentiles 5 [0.5 0.75 0.95 0.99 1.0]
                                         graph))

      histograms #(where (tagged "histogram")
                         (histogramify))
      metrics #(default {}
                        (histograms))
      ]

  ; Inbound events will be passed to these streams:
  (streams

    ; Log event to the console
    #(info %)

    (with {:host "riemann" }
          (fill-in-last 5 {:metric 0.0}
                        (rate 5 graph)))

    ; Index all events immediately.
    index

  )
)
